<h1 id="overview">Overview</h1>
<p><code>icite</code> is designed to produce from BibTeX or BibLaTeX
bibliographical databases the different indices of authors and works
cited which are called <em>indices locorum citatorum</em>. It relies on
a specific <code>\icite</code> command and can operate with either
BibTeX or BibLaTeX.</p>
<h1 id="license-and-disclamer">License and disclamer</h1>
<p>icite – Indices locorum citatorum</p>
<p>Copyright ⓒ 2019, 2020, 2021, 2023 Robert Alessi</p>
<p>Permission to use, copy, modify, and distribute this software for any
purpose with or without fee is hereby granted, provided that the above
copyright notice and this permission notice appear in all copies.</p>
<p>THE SOFTWARE IS PROVIDED “AS IS” AND THE AUTHOR DISCLAIMS ALL
WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES
OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE
FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY
DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER
IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING
OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS
SOFTWARE.</p>
<p>Please send error reports and suggestions for improvements to Robert
Alessi:</p>
<ul>
<li><p>email: <a href="mailto:alessi@robertalessi.net"
class="email">alessi@robertalessi.net</a></p></li>
<li><p>website: <a href="https://sr.ht/~ralessi/icite"
class="uri">https://sr.ht/~ralessi/icite</a></p></li>
<li><p>comments, feature requests, bug reports: <a
href="https://todo.sr.ht/~ralessi/icite"
class="uri">https://todo.sr.ht/~ralessi/icite</a></p></li>
</ul>
<p>This release of icite consists of the following source files:</p>
<ul>
<li><p><code>icite.dtx</code></p></li>
<li><p><code>icite.ins</code></p></li>
<li><p><code>Makefile</code></p></li>
</ul>
<h1 id="installation">Installation</h1>
<ol type="1">
<li><p>Run <code>'latex icite.ins'</code> to produce the
<code>icite.sty</code> file.</p></li>
<li><p>To finish the installation you have to move the
<code>icite.sty</code> file into a directory where LaTeX can find it.
See the FAQ on <code>texfaq.org</code> at <a
href="https://texfaq.org/FAQ-inst-wlcf"
class="uri">https://texfaq.org/FAQ-inst-wlcf</a> for more on
this.</p></li>
</ol>
<h1 id="development-git-repository">Development, Git Repository</h1>
<h2 id="browse-the-code">Browse the code</h2>
<p>You can browse icite repository on the web: <a
href="https://git.sr.ht/~ralessi/icite"
class="uri">https://git.sr.ht/~ralessi/icite</a></p>
<p>From this page, you can download all the releases of
<code>icite</code>. For instructions on how to install
<code>icite</code>, please see above.</p>
<h2 id="comments-feature-requests-bug-reports">Comments, Feature
requests, Bug Reports</h2>
<p><a href="https://todo.sr.ht/~ralessi/icite"
class="uri">https://todo.sr.ht/~ralessi/icite</a></p>
<h2 id="download-the-repository">Download the repository</h2>
<p><code>icite</code> development is facilitated by git, a distributed
version control system. You will need to install git (most Unix/Linux
distributions package it in their repositories).</p>
<p>Use this command to download the repository</p>
<pre><code>git clone https://git.sr.ht/~ralessi/icite</code></pre>
<p>A new directory named icite will have been created, containing
<code>icite</code>.</p>
<h2 id="git-hosting">Git hosting</h2>
<p>Make an account on <a href="https://sr.ht"
class="uri">https://sr.ht</a> and navigate (while logged in) to <a
href="https://git.sr.ht/~ralessi/icite"
class="uri">https://git.sr.ht/~ralessi/icite</a>. Click <em>Clone repo
to your account</em> and you will have in your account your own
repository of <code>icite</code> where you will be able to make whatever
changes you like to.</p>
